.link-card{
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}
.avatar-link{
  max-height: 200px;
}

.account-info{
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.account-info a{
  position: relative;
  display: block;
  width: 100%;
}
.account-info a p{
  width: 100%;
  text-align: center;
}
.nickname{
  position: absolute;
  opacity: 0;
  bottom: 10px;
  height: auto;
  margin: 0;
}

.account-info:hover .nickname{
  opacity: 1;
}
.account-info:hover .avatar-link{
  filter: brightness(40%) blur(5px);
}
@media (max-width: 501px) {
  .link-card{
    width: 100%;
  }
}
// Down
.content-below{
  margin-right: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.icon-link{
  font-size: 2em;
  margin: 0;
}

.input-container{
  width: 70%;
}

.input-container input{
  border-radius: .28571429rem 0 0 .28571429rem!important;
}
.copy-link-button{
  position: relative;
  border-radius: 0 .28571429rem .28571429rem 0;
  font-weight: bold;
  width: 20%;
  height: 38px;
  background-color: #00B5AD;
  font-size: 1.2em;
  outline: none;
  border: none;
  color: white;
}
.copy-link-button:hover{
  cursor: pointer;
  filter: brightness(90%)
}
// tooltip
.tooltip{
  transition: .3s;
  content: "";
  height: 40px;
  width: 100px;
  border-radius: 10px;
  left: calc(50% - 50px);
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  bottom: calc(100% + 12px);
}
.tooltip-text{
  height: 100%;
}
.arrow{
  position: relative;
}
.arrow:before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: calc(50% - 12px);
  top: 0;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(0,0,0,0.9);
  border-left: 12px solid transparent;
}

