//login and password

.auth-form-container {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .auth-form-container {
    width: 30%;
  }
}

.auth-form-container p a {
  color: rgb(16, 142, 204) !important;
}

.auth-form-container p a:hover {
  text-decoration: underline;
}

// Profile
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: #2A2A2A;
  color: white;

  div {
    margin: 9px;
  }

  button {
    background-color: #2185d0;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 1.4em;
  }

  button:focus {
    outline: none;
  }

  button:hover {
    background-color: #2080C9;
  }

  form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      &.important{
        color: #C8FF00;
      }
    }

    div {
      p {
        width: 170px;
        display: inline-block;
        margin: 0;
      }
      div{
        background-color: white;
        display: inline-block;
        width: 400px !important;
        height:38px;
        border: none;
        border-radius: 5px;
        input {
          height: 100%;
          width: 100%;
          border: inherit;
          border-radius: inherit;
          outline: none;
          &.error{
            background-color: rgba(99,0,0,0.3);
            color: black;
            border: 1px solid red;
          }
        }
      }


    }
  }

  .static-profile-data-container {
    font-size: 1.2em;
    width: 60%;
    display: flex;
    padding: 30px;
  }


  .avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;

    img {
      border-radius: inherit;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .profile-username {
    text-align: center;
    margin: 5px;
  }

  .buttons-block {
    button {
      margin: 0 40px;
    }
  }

  .change-profile-button {
    background-color: #2185d0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 1.4em;
  }


}
