.about-page{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.about-page h1{
  width: 100%;
}

.about-text{
  width: 100%;
  min-height: 100px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-content{
  width: calc(100% - 20px);
  border-radius: 1rem;
  border: 1px #414141 solid;
  margin-bottom: 10px;
}


.about-content h2{
  text-align: center;
}

