.auth-form-container{
  text-align: center;
}
@media screen and (min-width: 800px){
  .auth-form-container{
    width: 30%;
  }
}

.auth-form-container p a{
  color: rgb(16,142,204)!important;
}

.auth-form-container p a:hover{
  text-decoration: underline;
}
