$avatar-height: 35px;

// Header settings
.header{
  display: flex;
  justify-content: center;
  height: 80px;
  max-height: 80px;
  width: 100%!important;
  background-image: linear-gradient(315deg, #000000 0%, #414141 50%, #000000 100%);
  background-color: #000000;
}
.nav-header{
  text-transform: uppercase;
  z-index: 999999;
  width: 60%;
  display: flex;
  height: 100%;
  color: white;
  align-items: center;
  user-select: none;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0;
}

.nav-header nav{
  width: 100%;
}
// For big display
.nav-header ul {
  display: flex;
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav-header ul:only-child {
  flex-grow: 1;
}

.nav-header ul li{
  list-style: none;
  font-size: 1.5em;
  padding: calc(40px - 0.75em) 10px;
  vertical-align: center;
  height: 100%;
}
.header-nav-list{
  margin: 0;
  height: 100%;
}
// Hover text
.header-text:hover{
  color: #22D88F!important;
  cursor: pointer;
}

// Small displays
.burger-menu-btn{
  font-size: 40px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
}

.avatar-icon{
  max-height: $avatar-height;
  max-width: $avatar-height;
  border-radius: 50%;
}
// Logo
.logo{
  font-size: 2rem;
}
.logo-container{
  width: auto;
  display: flex;
  justify-content: center;
}

//profile
.auth-profile-block{
  position: absolute;
  right: 10px;
  align-self: center;
  justify-self: right;
}
.auth-profile-block a{
  font-size: 1.5em;
  margin-left: 10px;
}
.auth-profile-block a:first-child{
  margin-left: 0;
}
// Context menu on small display
.burger-menu ul{
  width: 50%;
  position: absolute;
  z-index:99999999;
  background-color: black;
  top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.burger-menu ul li{
  text-align: center;
  height: 4rem;
  width: 100%;
  padding: 0;
  border-top: 1px #ffffff solid;
}

.burger-menu ul li a{
  display: block;
  width: 100%;
  margin: calc(2rem - 10px) 0;
}

// Media
@media (max-width: 499px) {
  .header-just-on-big-display{
    display: none;
  }

  .nav-header{
    justify-content: left;
    width: 100%;
  }
}


@media (min-width: 500px) {
  .header-just-on-small-display{
    display: none;
  }
}
